<h1>Transactions</h1>

User: <%= @user.email %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

<br>


<%#= link_to 'Overview', controller: 'welcome' %><br>

<%= link_to 'Income and expenses', controller: 'recurring_transactions' %><br>

<%= link_to 'Enter actual balance', new_transaction_path %>

<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Balance</th>
    <th></th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date %></td>
      <td><%= transaction.description %></td>
      <td align="right"><%= transaction.delta %></td>
      <td align="right"><%= transaction.amount %></td>
      <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    </tr>
  <% end %>
</table>

